{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block header %}
<article>
  <header>
    <h1>Change Password</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>

  {% if is_totp_set == True %}
  <form action="/change_password" method="post" class="container" autocomplete="off">
    <div>Current password</div>
    <label for="password">
      <input type="password" id="password" name="password" placeholder="Current password">
    </label>
    <div>New password</div>
    <label for="new_password">
      <input type="password" id="new_password" name="new_password" placeholder="New password">
    </label>
    <div>Confirm new password</div>
    <label for="new_password_check">
      <input type="password" id="new_password_check" name="new_password_check" placeholder="Confirm new password">
    </label>
    <label for="totp">
      <div>TOTP</div>
      <input type="text" id="totp" name="totp" placeholder="6-digit code" autocomplete="off">
    </label>
    <button type="submit"><strong>Change password</strong></button>
  </form>
  {% endif %}

  {% if is_totp_set == False %}
  <div class="container">
    <h2>Change Password</h2>
    <p>
      <strong><i>
          In order to change your account password, you must enable two-factor
          authentication.
        </i></strong>
    </p>
    <hr>
    <br>
  </div>
  <div class="container">
    <a href="/2FA" role="button" class="container contrast"><strong>Enable two-factor authentication</strong></a>
  </div>
  {% endif %}

  <footer>
    <nav>
      <ul>
        <li><a href="/profile" class="outline">Back to profile</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}