{% extends "layout.html" %}

{% block title %}
Change Username
{% endblock %}

{% block header %}
<article>
  <header>
    <h1>Change Username</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>

  {% if is_totp_set == True %}
  <div class="container">
    <div>Current username</div>
    <input type="text" value="{{ username }}" readonly>
  </div>

  <form action="/change_username" method="post" class="container" autocomplete="off">
    <div>New username</div>
    <label for="new_username">
      <input type="text" id="new_username" name="new_username" placeholder="New username">
    </label>
    <label for="password">
      <div>Password</div>
      <input type="password" id="password" name="password" placeholder="Password">
    </label>
    <label for="totp">
      <div>TOTP</div>
      <input type="text" id="totp" name="totp" placeholder="6-digit code" autocomplete="off">
    </label>
    <button type="submit"><strong>Change username</strong></button>
  </form>
  {% endif %}

  {% if is_totp_set == False %}
  <div class="container">
    <h2>Change Username</h2>
    <p>
      <strong><i>
          In order to change your account username, you must enable two-factor
          authentication.
        </i></strong>
    </p>
    <hr>
    <br>
  </div>
  <div class="container">
    <a href="/2FA" role="button" class="container contrast"><strong>Enable two-factor authentication</strong></a>
  </div>
  {% endif %}

  <footer>
    <nav>
      <ul>
        <li><a href="/profile" class="outline">Back to profile</a></li>
      </ul>
    </nav>
  </footer>
</article>

{% endblock %}