{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block header %}
<article>
  <header>
    <h1>Profile</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>

  <div class="container">
    <div>Username</div>
    <input type="text" value="{{ username }}" readonly>
    <div class="grid">
      <label for="first_name">
        First name
        <input type="text" value="{{ first_name }}" readonly>
      </label>
      <label for="last_name">
        Last name
        <input type="text" value="{{ last_name }}" readonly>
      </label>
    </div>
    <div>Role</div>
    <input type="text" value="{{ role }}" readonly>
  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="/2FA" class="outline">Enable two-factor authentication</a></li>
      </ul>
      <ul>
        <li><a href="/change_username" class="secondary">Change username</a></li>
        <li><a href="/change_password" class="secondary">Change password</a></li>
        <li><a href="/recovery_key" class="secondary">Recovery Key</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}