{% extends "layout.html" %}

{% block title %}
Recovery key
{% endblock %}

{% block header %}
<article>
  <header>
    <h1>Recovery key</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>

  <div class="container">
  <h2>Recovery key</h2>
  <hr>
  </div>

  <div class="container">
    <p>
      Click on the following button to reveal your account recovery key. This
      key will be requested in case you completely forget or miss your password.
    </p>
    <!-- Button to trigger the modal -->
    <button class="contrast" data-target="rk_modal" onClick="toggleModal(event)">
      <strong>Show Recovery Key</strong>
    </button>

    <p>
      Additionally, make sure to regularly backup this recovery key to ensure
      that you can always access your account, even in the event of a data loss
      or computer failure.
    </p>
  </div>

  <dialog id="rk_modal" class="container">
    <article>
      <header>
        <a href="#close" aria-label="Close" class="close" data-target="rk_modal" onClick="toggleModal(event)"></a>
        <h3>Recovery key</h3>
      </header>
      <div class="container">
        <p class="mx-centered">
          <mark>
            <strong>
              Please keep this recovery key in a safe place, such as a password
              manager or stored in a secret physical medium.
            </strong>
          </mark>
        </p>
      </div>
      <br>

      <input type="text" style="font-family:monospace; font-weight: bold; text-align:center;" value="{{ uuid }}"
        readonly>

      <footer>
        <a href="#confirm" role="button" data-target="rk_modal" onClick="toggleModal(event)">
          <strong>Understood</strong>
        </a>
      </footer>
    </article>
  </dialog>

  <footer>
    <nav>
      <ul>
        <li><a href="/profile" class="outline">Back to profile</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}
{% block modal %}
<script src="{{ url_for('static', filename = 'modal.js') }}"></script>
{% endblock %}