{% extends "auth/auth_layout.html" %}
{% block title %}
2FA
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Two factor authentication (2FA)</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>
  <form action="/confirm_2fa" method="post" class="container" autocomplete="off">
    <div class="grid">
      <label for="totp">
        <input type="text" id="totp" name="totp" placeholder="6-digit code" autofocus>
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>
  <footer>
    <nav>
      <ul>
        <li><a href="/login" class="outline">Go back to login</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}