{% extends "auth/auth_layout.html" %}
{% block title %}
Login
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Login</h1>
    <!-- This code retrieves information through the flash module of flask -->
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>
  <form action="/login" method="post" class="container" autocomplete="off">
    <div class="grid">
      <label for="username">
        <input type="text" id="username" name="username" placeholder="Username" autofocus>
      </label>
      <label for="password">
        <input type="password" id="password" name="password" placeholder="Password">
      </label>
    </div>
    <button type="submit">Log In</button>
  </form>
  <footer>
    <nav>
      <ul>
        <li><a href="/register" class="outline">Create an account</a></li>
      </ul>
      <ul>
        <li><a href="/recover" class="secondary">Forgot your password?</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}