{% extends "auth/auth_layout.html" %}
{% block title %}
Set Password
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Set account password</h1>
    {% with messages = get_flashed_messages(category_filter=["success", "error"]) %}
    {% if messages %}
    <ul class="flashes container">
      {% for message in messages %}
      <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </header>
  <form action="/set_password" method="post" class="container" autocomplete="off">
    <label for="password">
      <input type="password" id="password" name="password" placeholder="Password">
    </label>
    <label for="password_check">
      <input type="password" id="password_check" name="password_check" placeholder="Confirm password">
    </label>
    <button type="submit">Recover</button>
  </form>
  <footer>
    <nav>
      <ul>
        <li><a href="/login" class="outline">Suddenly remembered your password?</a></li>
      </ul>
    </nav>
  </footer>
</article>
{% endblock %}