{% extends "layout.html" %}

{% block title %}
Inventory
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Inventory</h1>
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes container">
    {% for message in messages %}
    <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div class="container">

    <div class="grid">

      <label for="search-string">

        <form action="/inventory" method="post">
          <input autocomplete="off" name="item" type="search" id="search" placeholder="Search">
          <button id="submit" type="submit">Search</button>
        </form>

        <details open>
          <summary aria-haspopup="listbox">Results</summary>
          <ul id="options" role="listbox"></ul>
        </details>

      </label>

      <script src="{{ url_for('static', filename= 'inventory.js') }}"></script>

      <label for="filter">
        <select id="condition" required>
          <option value="Empty" selected>Filter</option>
          <option>Name</option>
          <option>Id</option>
        </select>
      </label>

    </div>

  </div>
</article>
{% endblock %}

{% block main %}

<main class="container">
  <table role="grid">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stored quantity</th>
        <th>Unit</th>
        <th>Purchase value</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        {% for data in row %}
        <td>{{ data }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}