{% extends "layout.html" %}

{% block title %}
Items
{% endblock %}

{% block main %}
<article>

  <header>
    <h1>Items</h1>
  </header>

  <div class="container">
    <div class="grid">

      <div>
        <a href="/new_item" class="container"><strong>Create new item</strong></a>
      </div>

      <hr>

      <div>
        <a href="/items" class="container outline secondary" data-tooltip="Feature in progress :)"><strong>Modify
            existing
            item</strong></a>
      </div>

      <hr>

      <div>
        <a href="/items" class="container outline secondary" data-tooltip="Feature in progress :)"><strong>Delete
            item</strong></a>
      </div>

    </div>
  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="/management" class="outline">Back to Management</a></li>
      </ul>
    </nav>
  </footer>

</article>
{% endblock %}