{% extends "management/management_layout.html" %}

{% block title %}
Items
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Items and Components</h1>

  </header>

  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <details role="list">
        <summary aria-haspopup="listbox">Settings</summary>
        <ul role="listbox">
          <li><a href="/new_item">New item</a></li>
          <li><a>Modify an item</a></li>
        </ul>
      </details>
      <details role="list">
        <summary aria-haspopup="listbox">Management Tools</summary>
        <ul role="listbox">
          <!--complete list and its general information: Priority, aggregate cost, sale value -->
          <li><a>List of items</a></li>
          <!--Rankings: select different filters based on top: units sold, point reviews, price-to-point ratio-->
          <li><a>Rankings</a></li>
          <li><a>Statistics</a></li>
        </ul>
      </details>
    </nav>
    {% endblock %}

    {% block main %}{% endblock %}