{% extends "layout.html" %}

{% block title %}
Management
{% endblock %}

{% block main %}
<article>

  <header>
    <h1>Management</h1>
  </header>

  <div class="container grid mx-centered">

    <div>
      <a href="/purchases" class="container"><strong>Purchases</strong></a>
    </div>

    <hr>

    <div>
      <a href="/inventory" class="container"><strong>Inventory</strong></a>
    </div>

    <hr>

    <div>
      <a href="/products" class="container"><strong>Products</strong></a>
    </div>

    <hr>

    <div>
      <a href="/items" class="container"><strong>Items</strong></a>
    </div>

    <hr>

    <div>
      <a href="/balance" class="container"><strong>Balance</strong></a>
    </div>

  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="/management" class="outline">Back to management</a></li>
      </ul>
    </nav>
  </footer>

</article>
{% endblock %}