{% extends "layout.html" %}

{% block title %}
Management
{% endblock %}

{% block main %}
<article>

  <header>
    <h1>Management</h1>
  </header>

  <div class="container">
    <div class="grid">

      <div>
        <a href="/purchases" role="button" class="container"><strong>Purchases</strong></a>
      </div>

      <hr>

      <div>
        <a href="/inventory" role="button" class="container"><strong>Inventory</strong></a>
      </div>

      <hr>

      <div>
        <a href="/products" role="button" class="container"><strong>Products</strong></a>
      </div>

      <hr>

      <div>
        <a href="/items" role="button" class="container"><strong>Items</strong></a>
      </div>

      <hr>

      <div>
        <a href="/balance" role="button" class="container"><strong>Balance</strong></a>
      </div>

    </div>
  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="/management" class="outline">Back to management</a></li>
      </ul>
    </nav>
  </footer>

</article>
{% endblock %}