{% extends "management/management_layout.html" %}

{% block title %}
New Item
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>New Item</h1>
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes container">
    {% for message in messages %}
    <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</article>
<div class="values">
  <div class="container">
    <div>Item Name</div>
    <input autocomplete="off" id="name" placeholder="Item Name" type="text">

    <div class="grid">
      <label for="cost_center">
        Cost Center
        <select id="cost_center">
          <option value="" selected>Cost Center</option>
          {% for center in cost_center %}
          <option>{{ center }}</option>
          {% endfor %}
        </select>
      </label>
      <label for="format">
        Format
        <input autocomplete="off" id="format" placeholder="Format" type="text">
      </label>
    </div>
    <div class="grid">
      <select id="unit">
        <option value="" selected>Unit</option>
        {% for unit in units %}
        <option>{{ unit }}</option>
        {% endfor %}
      </select>
      <input id="format_value" placeholder="Format Value" type="text">
    </div>
    <div class="grid">
      <form action="/new_item" method="post">
        <!--Create inputs dynamically-->
        <button id="save_item" type="submit">Save new item</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <label for="restore_values">
    <button id="restore_values" onclick="location.reload()" type="button">Restore values</button>
  </label>
</div>


<div id="component_status"></div>
<script src="{{ url_for('static', filename='new_item.js') }}"></script>

{% endblock %}