{% extends "layout.html" %}

{% block title %}
New Product
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>New Product</h1>
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes container">
    {% for message in messages %}
    <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  <div id="to_send" class="container">

    <div>Product Name</div>
    <input autocomplete="off" id="name" placeholder="Product Name" type="text">

    <div class="grid">
      <label for="category">
        Category
        <select id="category">
          <option value="" selected>Select category</option>
          {% for data in categories %}
          <option>{{ data[0] }}</option>
          {% endfor %}
        </select>
      </label>
      <label for="sell_value">
        Sell value
        <input id="sell_value" placeholder="Sell Value" type="text">
      </label>
      <label>
        Number of components
        <input autocomplete="off" id="n_components" placeholder="N° of Components" type="text">
      </label>
    </div>
    <div class="grid">
      <label>
        <form action="/new_product" method="post">
          <button id="save_product" type="submit">Save new product</button>
          <button id="reset" disabled type="button" class="outline">Restore values</button>
        </form>
      </label>
    </div>
    <div>
      <div id="component_status"></div>
      <div class="container" id="components"></div>
    </div>
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/products" class="outline">Back to products</a></li>
      </ul>
    </nav>
  </footer>
</article>
<script src="{{ url_for('static', filename='new_product.js') }}"></script>
{% endblock %}