{% extends "management/management_layout.html" %}

{% block title %}
Products
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Products</h1>

  </header>

  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <details role="list">
        <summary aria-haspopup="listbox">Settings</summary>
        <ul role="listbox">
          <li><a href="/new_product">New product</a></li>
          <li><a>Modify a product</a></li>
          <li><a>Change product status</a></li>
        </ul>
      </details>
      <details role="list">
        <summary aria-haspopup="listbox">Management Tools</summary>
        <ul role="listbox">
          <!--complete list and its general information: Priority, aggregate cost, sale value -->
          <li><a>List of products</a></li>
          <!--Rankings: select different filters based on top: units sold, point reviews, price-to-point ratio-->
          <li><a>Rankings</a></li>
          <li><a>Statistics</a></li>
        </ul>
      </details>
    </nav>

    <div class="grid">
      <form action="/products"></form>
      {% if name %}
      <h3>{{ name }}</h3>
      {% endif %}

      <script src="{{ url_for('static', filename= 'async_script.js') }}"></script>

    </div>

  </div>
</article>
{% endblock %}

{% block main %}{% endblock %}