{% extends "layout.html" %}

{% block title %}
Products
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Products</h1>

  </header>

  <div class="container">
    <nav>

      <div>
        <a href="/new_product" class="container"><strong>New product</strong></a>
      </div>

      <hr>

      <div>
        <a href="/new_category" class="container"><strong>Create product category</strong></a>
      </div>

      <hr>

      <div>
        <a href="/list_of_products" class="container"><strong>List of products</strong></a>
      </div>

    </nav>
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/management" class="outline">Back to management</a></li>
      </ul>
    </nav>
  </footer>

</article>
{% endblock %}

{% block main %}{% endblock %}