{% extends "layout.html" %}

{% block title %}
Purchases
{% endblock %}
{% block header %}
<article>
	<header>
		<h1>Purchases</h1>

	</header>

	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<details role="list">
				<summary aria-haspopup="listbox">Settings</summary>
				<ul role="listbox">
					<li><a href="/new_purchase">New purchase</a></li>
					<li><a href="/new_supplier">Add new supplier</a></li>
					<li><a>Delete invoice</a></li>
				</ul>
			</details>
			<details role="list">
				<summary aria-haspopup="listbox">Management Tools</summary>
				<ul role="listbox">
					<!--complete list and its general information: Priority, aggregate cost, sale value -->
					<li><a>List of products</a></li>
					<!--Rankings: select different filters based on top: units sold, point reviews, price-to-point ratio-->
					<li><a>Rankings</a></li>
					<li><a>Statistics</a></li>
				</ul>
			</details>
		</nav>
	</div>
</article>
{% endblock %}

{% block main %}{% endblock %}