{% extends "layout.html" %}

{% block title %}
Purchases
{% endblock %}
{% block header %}
<article>
  <header>
    <h1>Purchases</h1>

  </header>

  <div class="container">
    <nav>

      <div>
        <a href="/new_purchase" class="container"><strong>New purchase</strong></a>
      </div>

      <hr>

      <div>
        <a href="/new_supplier" class="container"><strong>New supplier</strong></a>
      </div>

      <hr>

      <div>
        <a href="/supplier_status" class="container"><strong>Supplier status</strong></a>
      </div>

      <hr>

      <div>
        <a href="/purchases_history" class="container"><strong>Purchases history</strong></a>
      </div>


    </nav>
  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="/management" class="outline">Back to Management</a></li>
      </ul>
    </nav>
  </footer>

</article>
{% endblock %}

{% block main %}{% endblock %}