{% extends "layout.html" %}

{% block title %}
Supplier Status
{% endblock %}
{% block header %}
<article>
	<header>
		<h1>Supplier Status</h1>
	</header>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="flashes container">
		{% for message in messages %}
		<li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<div class="container">
		<aside>
			<div>Supplier Name</div>
			<input autocomplete="off" id="supplier_name" placeholder="Supplier" type="text">
		</aside>
		<details open>
			<summary aria-haspopup="listbox">Results</summary>
			<ul id="options" role="listbox"></ul>
		</details>
		<label for="status">
			Status
			<select id="status">
				<option value="" selected>Status</option>
				{% for option in status %}
				<option>{{ option }}</option>
				{% endfor %}
			</select>
		</label>
		<div class="grid">
			<form action="/supplier_status" method="post">
				<button disabled id="supplier" type="submit">Change status</button>
				<input hidden id="supplier_to_send" name="supplier">
				<input hidden id="status_to_send" name="status">
			</form>

			<button style="height: 65px; line-height: 35px;" id="restore_values" onclick="location.reload()" type="button"
				class="outline">
				Restore values
			</button>
		</div>
	</div>

	<footer>
		<nav>
			<ul>
				<li><a href="/purchases" class="outline">Back to Purchases</a></li>
			</ul>
		</nav>
	</footer>
	<script src="{{ url_for('static', filename= 'supplier_status.js') }}"></script>
</article>
{% endblock %}