{% extends "management/management_layout.html" %}

{% block title %}
Update Product sales Values
{% endblock %}
{% block header %}
<article>
    <header>
        <h1>Update Product sales Values</h1>
        <h6>If You want to update the value of each product, acording to newest purchase prices, click below</h6>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes container">
        {% for message in messages %}
        <li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</article>
<div class="container">
    <div class="grid">
        </label>
        <nav class="grid">
            <form action="/update_value" method="post">
                <button id="update_value" type="submit">Update sell values</button>
            </form>
        </nav>
        </label>
    </div>
    <div id="component_status"></div>
    <ul class="container-fluid" id="components" role="listbox"></ul>
</div>
<script src="{{ url_for('static', filename = 'modal.js') }}"></script>

{% endblock %}