{% extends "layout.html" %}

{% block title %}
New Sale
{% endblock %}
{% block header %}
<article>
	<header>
		<h1>New Sale</h1>
	</header>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="flashes container">
		{% for message in messages %}
		<li style="list-style-type:none;"><strong><mark>{{ message }}</mark></strong></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</article>
<div class="container-fluid">
	<div class="grid">
		<label for="search">
			Search Product
			<input autocomplete="off" id="name" placeholder="Product" type="search">
		</label>
		<label for="Product">
			Product Options
			<select id="product_options">
				<option value="" selected>Select</option>
			</select>
		</label>
		<label for="unit_price">
			Unit Price
			<input id="unit_price" placeholder="$" type="text" readonly>
		</label>
	</div>
	<div class="grid">
		<label for="quantity">
			<input id="quantity" placeholder="Quantity" autocomplete="off" type="number" min="0">
		</label>
		<label for="total">
			<input id="total" placeholder="$" autocomplete="off" type="text" readonly>
		</label>
	</div>
	<nav class="grid">
		<label for="save_product">
			<button id="save_product" type="button">Add to ticket</button>
		</label>
		<form action="/new_sale" method="post">
			<button id="check_out" type="submit">Check Out</button>
			<input hidden id="product_number" name="product_number">
		</form>
		<label for="restore_values">
			<button id="restore_values" onclick="location.reload()" type="button">Cancel the Sale</button>
		</label>
	</nav>
	<table>
		<thead>
			<th>Product</th>
			<th>Quantity</th>
			<th>Total</th>
		</thead>
		<tbody id="ticket">
		</tbody>
	</table>
	<script src="{{ url_for('static', filename='new_sale.js') }}"></script>

</div>

{% endblock %}