{% extends "layout.html" %}

{% block title %}
Home
{% endblock%}

{% block pagename %}
<h1>Home:</h1>
<p><i>This is a place to locate the homepage</i></p>
<hr>
{% endblock %}

{% block main %}
<article>
  <header>
    <h2>
      Lorem ipsum
    </h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Diam vel quam elementum
    pulvinar. Ut tristique et egestas quis ipsum suspendisse ultrices gravida
    dictum. At tempor commodo ullamcorper a lacus vestibulum sed arcu non. Proin
    nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet consectetur
    adipiscing elit ut aliquam purus sit amet. Diam phasellus vestibulum lorem
    sed risus ultricies. Ac placerat vestibulum lectus mauris ultrices. Nisi lacus
    sed viverra tellus in hac. Mauris cursus mattis molestie a iaculis at erat
    pellentesque adipiscing. Scelerisque eleifend donec pretium vulputate sapien
    nec sagittis. Consequat ac felis donec et odio pellentesque diam. In vitae
    turpis massa sed. Diam vulputate ut pharetra sit. Elit ut aliquam purus sit amet
    luctus. At in tellus integer feugiat scelerisque varius morbi enim. Nibh mauris
    cursus mattis molestie a. Integer vitae justo eget magna fermentum iaculis eu
    non diam. Aliquam ut porttitor leo a diam sollicitudin. Id aliquet risus feugiat
    in ante metus dictum.
  </p>
  <p>
    In hac habitasse platea dictumst vestibulum rhoncus est pellentesque.
    Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum.
    Ut eu sem integer vitae justo eget. Ultrices gravida dictum fusce ut placerat.
    Sed blandit libero volutpat sed cras ornare arcu dui. Tellus pellentesque eu
    tincidunt tortor. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi
    cras fermentum. Massa massa ultricies mi quis hendrerit dolor. Placerat duis
    ultricies lacus sed turpis tincidunt id aliquet. Purus gravida quis blandit
    turpis cursus. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames. Eu augue ut lectus arcu bibendum. Cursus mattis molestie
    a iaculis at erat pellentesque adipiscing. Proin nibh nisl condimentum id
    venenatis a condimentum vitae sapien. Tristique senectus et netus et malesuada
    fames. Vitae nunc sed velit dignissim sodales. Suscipit adipiscing bibendum
    est ultricies integer quis. Morbi enim nunc faucibus a pellentesque sit amet
    porttitor eget. Vulputate sapien nec sagittis aliquam malesuada. Purus in mollis
    nunc sed id semper risus in.
  </p>
  <p>
    Velit laoreet id donec ultrices tincidunt. Massa eget egestas purus viverra
    accumsan in nisl nisi scelerisque. Nisi lacus sed viverra tellus in hac. Eu
    turpis egestas pretium aenean pharetra magna ac. Tincidunt praesent semper
    feugiat nibh sed pulvinar. Urna id volutpat lacus laoreet non curabitur gravida
    arcu. Ut enim blandit volutpat maecenas. Venenatis lectus magna fringilla urna
    porttitor rhoncus dolor purus non. Massa massa ultricies mi quis. Bibendum enim
    facilisis gravida neque convallis a. Justo donec enim diam vulputate ut pharetra
    sit amet. Interdum velit euismod in pellentesque massa placerat. Volutpat
    commodo sed egestas egestas fringilla phasellus. Purus in mollis nunc sed. Cras
    fermentum odio eu feugiat pretium nibh ipsum consequat. Neque ornare aenean
    euismod elementum nisi quis eleifend quam adipiscing.
  </p>
</article>
{% endblock %}